@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

body {
    background-color: #F8FFE5;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

#cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 35px;
}

#main .card {
    flex-direction: row;
}

.side-a, .side-b {
    height: 125px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

.side-a {
    background-color: #06D6A0;
}

.side-b {
    background-color: #FFC43D;
}

.nav-buttons {
    margin: 2rem 0;
}

.btn.btn-primary {
    background-color: #1B9AAA;
}

.random-card .card {
    min-width: 500px;
}

#random-btn {
    margin-left: 20px;
    padding: 15px;
}