<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flash Cards</title>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
<div class="container">
    <h1>Flash Cards!</h1>
    <h3>Welcome <span><%- userName %></span></h3>

    <div class="d-flex justify-content-center">

    </div>

    <div class="container nav-buttons d-flex justify-content-evenly">
        <button class="btn btn-primary" id="getCardsBtn">See all cards</button>
        <button class="btn btn-primary" id="getRandomBtn">See random cards</button>
        <button class="btn btn-primary" id="addCardBtn">Add new card</button>
    </div>

    <div id="main">
        <div id="cards-container" class="container"></div>
        <div id="random-card-container" class="container"></div>
        <div id="add-card-form" class="container"></div>
    </div>

</div>

<script>
    const userId = "<%- userId %>"
    console.log(userId)
    let cards;

    $(document).ready(async function() {
        const userId = "<%- userId %>";
        const res = await fetch(`https://enigmatic-brushlands-51613.herokuapp.com/flashCards/cards/${userId}`);
        cards = await res.json();
        console.log( "ready!" );
    });

    $("#getCardsBtn").click( () => {
        hideSections();
        if (cards) buildCards(cards);
    })

    $("#getRandomBtn").click(() => {
        hideSections();
        if (cards) randomCards(cards);
    })

    $("#addCardBtn").click(() => {
        hideSections();
        buildCardForm();
    })

    function buildCards(cardsData) {
        $("#cards-container").show().empty();
        cardsData.forEach((card) => {
            console.log("card", card);
            console.log("card", card.sidea);

            $("#cards-container").append(`
                <div class="card d-flex">
                    <div class='side-a'>${card.sidea}</div>
                    <div class='side-b'>${card.sideb}</div>
                </div>`
            )
        })
    }

    function randomCards(cards) {
        const randomCard = cards[Math.floor(Math.random() * cards.length)];
        console.log("random selection:", randomCard);
        $("#random-card-container").show().empty().append(`
            <div class='container random-card d-flex justify-content-center'>
                <div class="card d-flex">
                    <div class='side-a'>${randomCard.sidea}</div>
                    <div class='side-b'>${randomCard.sideb}</div>
                </div>
                <button id="random-btn" class="btn btn-primary" onclick="changeRandomCard()">Change</button>
            </div>`
        )
    }

    function changeRandomCard() {
        randomCards(cards)
    }

    function buildCardForm() {
        $("#add-card-form").show().empty().append(`
            <div>
                <div class="mb-3">
                    <label for="side-a" class="form-label">Side A</label>
                    <textarea class="form-control" id="side-a" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="side-b" class="form-label">Side B</label>
                    <textarea class="form-control" id="side-b" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" onclick="saveCard()">Submit</button>
            </div>
        `);
    }

    function saveCard() {
        const sidea = $("#side-a").val();
        const sideb = $("#side-b").val();

        if (sidea || sideb) {
            console.log("side A", sidea)
            console.log("side B", sidea)
            $("#add-card-form").hide();
        }
    }

    function hideSections() {
        $("#cards-container").hide();
        $("#random-card-container").hide();
        $("#add-card-form").hide();
    }
</script>
</body>
</html>
