<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
<div class="container">
    <h1>Flash Cards!</h1>
    <h3>Welcome <span><%- user.name %></span></h3>

    <div class="d-flex justify-content-center">

    </div>

    <div class="container nav-buttons d-flex justify-content-evenly">
        <button class="btn btn-primary" id="getCardsBtn">See all cards</button>
        <button class="btn btn-primary" id="getCardsBtn">See random cards</button>
        <button class="btn btn-primary" id="getCardsBtn">Add new card</button>
    </div>

    <div id="cards-container" class="container">
    </div>


</div>

<script>
    const userId = "<%- user.name %>"
    console.log(userId)

    $("#getCardsBtn").click( async () => {
        const userId = "<%- user.id %>";

        const res = await fetch(`https://enigmatic-brushlands-51613.herokuapp.com/flashCards/cards/${userId}`);
        const cards = await res.json();

        buildCards(cards);
    })

    function buildCards(cardsData) {
        console.log("cardsData", cardsData)
        if (cardsData) {
            cardsData.forEach((card) => {
                console.log("card", card);
                console.log("card", card.sidea);

                $("#cards-container").append(`
                    <div class="card d-flex">
                        <div class='side-a'>${card.sidea}</div>
                        <div class='side-b'>${card.sideb}</div>
                    </div>`
                )
            })
        }
    }

</script>
</body>
</html>
