<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
    <h1>Home page</h1>

    <a href="/flashCards">Go to Flash Cards page</a>

    <%- include ("../partials/footer.ejs") %>
</body>
</html>
